.contenedor
{
    margin: auto;
    padding: 20px;
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
        
}

.caja
{
    border: 3px red solid;
    width: 200px;
    height: 200px;
    margin: 25px 200px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: .3s;
    overflow: hidden;
}

.caja:hover
{
    font-size: 20px;
    transform: translateX(20px);
    background: skyblue;
}

.color
{
    transition: .5s;    
    font-size: 20px;
    color: rebeccapurple;
    font-weight: 900;
}

.color:hover
{
    background: peru;
    font-size: 40px;
    
}

.a img{
    width: 300px;
}

.trans
{
    transition: .5s;
}

.trans:hover
{
    transform: rotate(40deg);
}

.trans2
{
    transition: 2s;
}

.trans2:hover
{
    transform: scale(2);
}

.trans3
{
    transition: 1s;
}

.trans3:hover
{
    transform: skewY(40deg);
}

.trans4
{
    transition: 1s;
    transform: translateX(20px);
}

.trans4:hover
{
    transform: translateY(20px);
}


