body
{
    background: peru;
}

.post
{
    height: 350px;
    background: white;
    width: 1200px;
    border: 10px solid blue;
    margin: auto;
    text-align: center;
    padding: 50px;
    overflow: hidden;
    transition: .3s;
}

.post img
{
    transition: .5s;
    transform: translateY(-300px);
}
.post:hover img
{
    transform: scale(1.3);
}

.post:hover
{
    background: skyblue;
}

.post:hover p
{
    transform: translateY(40px);
}

.post p
{
    transform: translateY(150px);
    transition: 1s;
}